{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container" id="header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="backdrop"></div>
    <div class="container mb-4">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-2">Shopping Dolly</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if dolly_items %}
                    <div class="table-responsive rounded"></div>
                {% else %}
                    <p class="lead mb-5">Your Dolly is empty!</p>
                    <a href="{% url 'furnitures' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep loading Furniture</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% include 'includes/footer.html' %}
{% endblock %}
