{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container" id="header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="backdrop"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if furniture.image %}
                    <a href="{{ furniture.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid" src="{{ furniture.image.url }}" alt="{{ furniture.name }}">
                    </a>
                {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ furniture.name }}">
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md6 col-lg-4">
            <div class="furniture-details-container mb-5 mt-md-5">
                <p class="mb-0">{{ furniture.brand }}</p>
                <p class="mb-0"><strong>{{ furniture.name }}</strong></p>
                <p class="mb-0">{{ furniture.condition }}</p>
                <p class="lead mb-0 text-left font-weight-bold">{{ furniture.price }} SEK</p>
                {% if furniture.category %}
                    <p class="small mt-1 mb-0">
                        <a class="text-muted" href="{% url 'furnitures' %}?category={{ furniture.category.name }}">
                            <i class="fas fa-bookmark mr-1"></i>{{ furniture.category.friendly_name }}
                        </a>
                    </p>
                {% endif %}
                {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="{% url 'edit_furniture' furniture.id %}">Edit</a> | 
                        <a class="text-danger" href="{% url 'delete_furniture' furniture.id %}">Delete</a>
                    </small>
                {% endif %}
                <p class="mt-3">{{ furniture.description }}</p>
                <p class="mt-3">{{ furniture.dimensions }}</p>
                <p class="mb-0">{{ furniture.material }}</p>
                <p class="mb-0">{{ furniture.production }}</p>

                <form class="form" action="{% url 'put_on_dolly' furniture.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <input class="form-control qty_input" type="text" name="quantity" value="1" min="1" max="1" data-item_id="{{ furniture.id }}" id="id_qty_{{ furniture.id }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <a href="{% url 'furnitures' %}" class="btn btn-outline-black rounded-0 mt-5">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn bg-green btn-black rounded-0 text-uppercase mt-5" id="put-btn" value="Put on Dolly">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}