{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container" id="header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="backdrop"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Furnitures & Lighting</h2>
            {% for c in current_categories %}
                <a class="category-badge text-decoration-none" href="{% url 'furnitures' %}?category={{ c.name }}">
                    <span class="p-2 mt-2 badge badge-white text-black rounded-0 border border-dark">{{ c.friendly_name }}</span>
                </a>
            {% endfor %}
            <hr class="fat-hr w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="furniture-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
                <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center center-stage">
                    <div class="sort-select-wrapper w-50">
                        <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                            <option value="brand_asc" {% if current_sorting == 'brand_asc' %}selected{% endif %}>Brand (A-Z)</option>
                            <option value="brand_desc" {% if current_sorting == 'brand_desc' %}selected{% endif %}>Brand (Z-A)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                            <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                            <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-3 text-center text-md-left">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                            <span class="small"><a href="{% url 'furnitures' %}">Furnitures Home</a> | </span>
                        {% endif %}
                        {{ furnitures|length }} Furnitures{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>
            </div>
            <div class="row furniture-row">
                {% for furniture in furnitures %}
                    <div class="furniture-card col-sm-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="card h-100 border-0">
                            {% if furniture.image %}
                                <a href="{% url 'furniture_detail' furniture.id %}">
                                    <img class="card-img-top img-fluid" src="{{ furniture.image.url }}" alt="{{ furniture.name }}">
                                </a>
                            {% else %}
                                <a href="{% url 'furniture_detail' furniture.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ furniture.name }}">
                                </a>
                            {% endif %}
                            <div class="card-body pb-0">
                                <p class="mb-0">{{ furniture.brand }}</p>
                            </div>
                            <div class="card-body pb-0 mt-0">
                                <p class="mb-0"><strong>{{ furniture.name }}</strong></p>
                            </div>
                            <div class="card-body mt-0">
                                <p class="mb-0">{{ furniture.condition }}</p>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        <p class="lead mb-0 text-left font-weight-bold">{{ furniture.price }} SEK</p>
                                        {% if furniture.category %}
                                            <p class="small mt-1 mb-0">
                                                <a class="text-muted" href="{% url 'furnitures' %}?category={{ furniture.category.name }}">
                                                    <i class="fas fa-bookmark mr-1"></i>{{ furniture.category.friendly_name }}
                                                </a>
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-2x fa-hand-pointer text-black mx-auto my-auto"></i>
    </a>	
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>

    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this)
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if (selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}