{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container" id="header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="backdrop"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if furniture.image %}
                    <a href="{{ furniture.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid" src="{{ furniture.image.url }}" alt="{{ furniture.name }}">
                    </a>
                {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ furniture.name }}">
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md6 col-lg-4">
            <div class="furniture-details-container mb-5 mt-md-5">
                <p class="mb-0">{{ furniture.brand }}</p>
                <p class="mb-0"><strong>{{ furniture.name }}</strong></p>
                <p class="mb-0">{{ furniture.condition }}</p>
                <p class="lead mb-0 text-left font-weight-bold">{{ furniture.price }} SEK</p>
                {% if furniture.category %}
                    <p class="small mt-1 mb-0">
                        <a class="text-muted" href="{% url 'furnitures' %}?category={{ furniture.category.name }}">
                            <i class="fas fa-bookmark mr-1"></i>{{ furniture.category.friendly_name }}
                        </a>
                    </p>
                {% endif %}
                <p class="mt-3">{{ furniture.description }}</p>
                <p class="mt-3">{{ furniture.dimensions }}</p>
                <p class="mb-0">{{ furniture.material }}</p>
                <p class="mb-0">{{ furniture.production }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}