{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container" id="header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <hr class="fat-hr w-5 my-5">
        <div class="row h-100">
            <div class="col my-auto">
                <h1 class="display-4 logo-font text-center text-black my-5 mx-auto">
                    New Designer Furniture has arrived!
                </h1>

                      <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <a href="">
                              <img class="main-img w-50" src="{{ MEDIA_URL }}louis-poulsen-snowball.jpeg" alt="Louis Poulsen - Snowball">
                            </a>
                            <div class="desc">Louis Poulsen - Snowball</div>
                          </div>
                          <div class="carousel-item">
                            <a href="">
                              <img class=" main-img w-50" src="{{ MEDIA_URL }}fritz-hansen-pk61.jpeg" alt="Fritz Hansen - PK61 coffee table">
                            </a>
                            <div class="desc">Fritz Hansen - PK61 coffee table</div>
                          </div>
                          <div class="carousel-item">
                            <a href="">
                              <img class="main-img w-50" src="{{ MEDIA_URL }}lamino-swedese.jpeg" alt="Swedese - Lamino armchair">
                            </a>
                            <div class="desc">Swedese - Lamino armchair</div>
                          </div>
                          <div class="carousel-item">
                            <a href="">
                              <img class="main-img w-50" src="{{ MEDIA_URL }}a2-collect-2013.jpeg" alt="A2 - Collect 2013, cabinet">
                            </a>
                            <div class="desc">A2 - Collect 2013, cabinet</div>
                          </div>
                        </div>
                      </div>

                <div class="clearfix"></div>

                <div id="main-text">
                  <p>This is just a few examples of all the furniture that have arrived in the last few days. Check out the other sections to see more of what we have in store. If you like you can drop us a line via the contacts link above if you are searching for something special and you want us to keep an eye out for your desired product.</p>
                  <p>Make sure you read the measurements and the condition so that the product will meet your expectations when it is delivered to you.</p>
                </div>
                <div class="my-5 center-text">
                    <h4>
                        <a href="{% url 'furnitures' %}" class="cta-button btn btn-lg rounded-5 text-uppercase py-3">Shop now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}