html {
    height: 100%;
}

body {
    background-color: #e6ffe6;
}

.backdrop{
    background: #e6ffe6;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
  }

#index-container {
    min-width: 100%;
    background: url('/media/logo-color.jpeg') center center / cover no-repeat;
    background-size: cover;
    height: calc(100vh - 164px);
    color: rgb(85, 85, 85);
    font-family: Lato;
}

/* from Bulma´s icon class */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; 
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

#main-text {
margin-top: 2rem;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background-color: #000 !important;
}

.cta-button {
    font-weight: bold;
    background-color: #74AA50;
    border: 1px solid black;
    font-size: 2rem;
}

.cta-button:hover {
    background: lightgreen !important;
    color:#212529 !important;
}

.btt-button {
    color: #212529;
    background-color:#74AA50 ;
    height: 72px;
    width: 72px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.btt-link {
    cursor: pointer;
}

.carousel-inner {
    text-align: center;
}

.fat-hr {
    border: 4px solid black;
  }

.furniture-card {
    margin: 20px;
}

.furniture-row {
    justify-content: center;
}

a.category-badge > span.badge:hover {
    background: #74AA50 !important;
    color: #fff !important;
}


div.dropdown-menu {
    z-index: 9999;

}

.remove-item {
    cursor: pointer;
}

.message-container {
    position: fixed;
    top: 70px;
    right: 16px;
    z-index: 9999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.dolly-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ---------------Helpers----------------- */

.center-stage {
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.text-black {
    color: #000 !important;
}

.desc {
    font-weight: bold;
}

/*----------------------------------Footer-------------------------------*/

.footer-container {
    width: auto;
    border-top: 8px solid #212529;
    background-color: #74AA50;
    color:#212529;
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}

.footer-container i {
    color:#212529;
}
.description {
   margin-left: 16px;
    width: 15%;
    font-size: 0.75rem;
}
.social-media {
    width: 15%;
    margin: 0 auto;
    text-align: center;
}
.social-media a {
    margin: 10px;
    font-size: 1.5rem;
}

.social-media span {
    font-size: 0.75rem;
}

.footer-contact {
margin-right: 16px;
font-size: 0.75rem;
width: 15%;
text-align: left;
}
#postcode {
    margin-right: 23px;
}
#country {
    margin-right: 40px;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }

  /* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    #mob-support, #mob-wish {
        display: none;
      }

      .header-container {
        padding-top: 164px;
    }
}