<footer>
    <div class="footer-container footer">
        <div class="description col">
            <h5 class="text-uppercase fw-bold mb-3">The company</h5>
            <p><strong>Vintage Furniture</strong> is an Online store that specializes in buying and selling used furniture and lighting by famous Designers and Brands. If you have a question about an item in stock or you would like us to find an item for you, please get in touch with us. You can also get in touch with us if you have an item you would like to sell.</p>
        </div>
        <div class="col-lg-3 col-md-3 mx-auto col">
            <h5 class="text-uppercase fw-bold mb-2">Quick links</h5>
            <ul class="list-unstyled text-muted">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'furnitures' %}">All Furniture</a></li>
                <li><a href="{% url 'support' %}">Support</a></li>
                <li><a href="{% url 'rating' %}">Rate Us</a></li>
            </ul>
        </div>
        <div class="social-media col-lg-3 col-md-3 mx-auto col social">
            <a href="https://www.facebook.com" target="_blank" rel="noopener">
            <i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com" target="_blank" rel="noopener">
            <i class="fab fa-instagram"></i></a>
            <a href="https://www.twitter.com" target="_blank" rel="noopener">
            <i class="fab fa-twitter"></i></a>
        </div>
        <div class="footer-contact col">
            <div class="">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-2">
                  Contact
                </h6>
                <p class="mb-2"><i class="fas fa-home me-3"></i> Kronoberg, Vaxjo 352 42, Sweden</p>
                <p class="mb-2">
                  <i class="fas fa-envelope me-3"></i>
                  info@example.com
                </p>
                <p class="mb-2"><i class="fas fa-phone me-3"></i> + 46 70 288 0259</p>
                <p class="mb-2"><i class="fas fa-print me-3"></i> + 46 70 288 0259</p>
              </div>

            <!--<div>Ringtrastvägen 36</div>
            <div id="postcode">352 42 Växjö</div>
            <div id="country">SWEDEN</div>-->
        </div>
    </div>
</footer>